.App {
  text-align: center;
  background-color: #ffffff; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PromptContainer {
  margin-bottom: auto;
}

.PromptLabel {
  font-size: 32px;
  margin-bottom: 50px;
}

.PromptInput {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
}

.PromptButton {
  padding: 10px;
  cursor: pointer;
}

.RecipeContainer {
  margin-bottom:auto;
}

.RecipeText {
  padding: 20px;
  background-color: rgb(0, 131, 131);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.LoadingContainer {
  margin-top: 20px;
}
